[submodule "themes/uilite"]
	path = themes/uilite
	url = https://github.com/uicardiodev/hugo-uilite.git
[submodule "thekaseys.github.io"]
	path = thekaseys.github.io
	url = git@github.com:TheKaseys/thekaseys.github.io.git
