[submodule "themes/uilite"]
	path = themes/uilite
	url = https://github.com/uicardiodev/hugo-uilite.git
[submodule "theme/hugo-uilite"]
	path = theme/hugo-uilite
	url = https://github.com/uicardiodev/hugo-uilite.git
